<nav>
    <ul>
        <li><a href="{{ path('mainhome') }}">Home</a></li>
        <li><a href="{{ path('pagetest') }}">Test1</a></li>

        <li><a href="{{ path('series_list') }}">Serie</a></li>
        <li><a href="{{ path('create_serie') }}">Create a serie</a></li>
    </ul>
</nav>

