{% extends 'base.html.twig' %}

{% block title %}
 {{ parent()  }}
{% endblock %}
{% block body %}
    <section>
        {% for wish in listeSouhait %}
            <article>
                <a href="{{ path('detail_wish',{'id':wish.id}) }}" title="Voir detail">{{ wish.title }}</a>
            </article>
        {% endfor %}
      </section>
{% endblock %}